<footer>
    <p>This is the footer</p>
    <div class="card mb-3">
  <img class="card-img-top" src="https://plus.unsplash.com/premium_photo-1669048776605-28ea2e52ae66?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Footer text</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
</footer>
</body>
</html>